<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Assan 3.0</title>    
        <!-- Plugins CSS -->
        <link href="css/plugins/plugins.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>
        <div id="preloader">
            <div id="preloader-inner"></div>
        </div><!--/preloader-->


        <!-- Pushy Menu -->
        <aside class="pushy pushy-right">
            <div class="cart-content">
                <div class="clearfix">
                    <a href="javascript:void(0)" class="pushy-link text-white-gray">Close</a>
                </div>
                <ul class="list-unstyled">
                    <li class="clearfix">
                        <a href="blog-sidebar-left#" class="float-left">
                            <img src="images/shop/p1.jpg" class="img-fluid" alt="" width="60">
                        </a>
                        <div class="oHidden">
                            <span class="close"><i class="ti-close"></i></span>
                            <h4><a href="blog-sidebar-left#">Men's Special Watch</a></h4>
                            <p class="text-white-gray"><strong>$299.00</strong> x 1</p>
                        </div>
                    </li><!--/cart item-->
                    <li class="clearfix">
                        <a href="blog-sidebar-left#" class="float-left">
                            <img src="images/shop/p2.jpg" class="img-fluid" alt="" width="60">
                        </a>
                        <div class="oHidden">
                            <span class="close"><i class="ti-close"></i></span>
                            <h4><a href="blog-sidebar-left#">Men's tour beg</a></h4>
                            <p class="text-white-gray"><strong>$99.00</strong> x 1</p>
                        </div>
                    </li><!--/cart item-->
                    <li class="clearfix">
                        <a href="blog-sidebar-left#" class="float-left">
                            <img src="images/shop/p3.jpg" class="img-fluid" alt="" width="60">
                        </a>
                        <div class="oHidden">
                            <span class="close"><i class="ti-close"></i></span>
                            <h4><a href="blog-sidebar-left#">Women's T-shirts</a></h4>
                            <p class="text-white-gray"><strong>$199.00</strong> x 1</p>
                        </div>
                    </li><!--/cart item-->
                    <li class="clearfix">

                        <div class="float-right">
                            <a href="blog-sidebar-left#" class="btn btn-primary">Checkout</a>
                        </div>
                        <h4  class="text-white">
                            <small>Subtotal - </small> $49.99
                        </h4>
                    </li><!--/cart item-->
                </ul>
            </div>
        </aside>
        <!-- Site Overlay -->
        <div class="site-overlay"></div>

        <nav class="navbar navbar-expand-lg navbar-light navbar-transparent bg-faded">
            <div class="search-inline">
                <form>
                    <input type="text" class="form-control" placeholder="Type and hit enter...">
                    <button type="submit"><i class="ti-search"></i></button>
                    <a href="javascript:void(0)" class="search-close"><i class="ti-close"></i></a>
                </form>
            </div><!--/search form-->
            <div class="container">

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="index">
                    <img class='logo logo-dark visible-md-up  hidden-lg-up' src="images/logo.png" alt="">
                    <img class='logo logo-light hidden-xs-down hidden-sm-down hidden-md-down' src="images/logo-light.png" alt="">
                </a>
                <div  id="navbarNavDropdown" class="navbar-collapse collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="blog-sidebar-left#">Home</a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="index" class="dropdown-item">Home 1 - Slider</a></li>
                                <li><a href="index-02" class="dropdown-item">Home 2 - Particle</a></li>
                                <li><a href="index-03" class="dropdown-item">Home 3 - Carousel</a></li>
                                <li><a href="index-04" class="dropdown-item">Home 4 - Text animation</a></li>
                                <li><a href="index-05" class="dropdown-item">Home 5 - Youtube hero</a></li>
                                <li class=" dropdown-submenu dropdown">
                                    <a tabindex="-1" href="blog-sidebar-left#" class="dropdown-item">Demo Shop</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="shop-home" class="dropdown-item">Shop home</a></li>
                                        <li><a href="shop-full" class="dropdown-item">Shop Full width</a></li>
                                        <li><a href="shop-sidebar" class="dropdown-item">Shop Sidebar</a></li>
                                        
                                        <li><a href="shop-item" class="dropdown-item">Shop item</a></li>
                                        <li><a href="shop-cart" class="dropdown-item">Shop cart</a></li>
                                        <li><a href="shop-checkout" class="dropdown-item">Shop checkout</a></li>
                                    </ul>
                                </li> 

                                <li class=" dropdown-submenu dropdown">
                                    <a tabindex="-1" href="blog-sidebar-left#" class="dropdown-item">Multi Level 1</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="blog-lg-post-grid" class="dropdown-item">Profile</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown dropdown-full-width">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="blog-sidebar-left#" aria-haspopup="true" aria-expanded="false">
                                Pages 
                            </a>
                            <ul class="dropdown-menu dropdown-mega-fw">
                                <li class="container">
                                    <div class="mega-menu-content">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li><a href="page-about"> About Modern</a></li>
                                                    <li><a href="page-about-alt"> About Simple</a></li>
                                                    <li><a href="page-team"> Our Team</a></li>
                                                    <li><a href="page-services"> Services</a></li>
                                                    <li><a href="page-service-alt"> Services 2</a></li> 
                                                    <li><a href="page-contact-basic"> Contact basic </a></li> 
                                                    <li><a href="page-contact-advanced"> Contact Advanced</a></li> 
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">

                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li><a href="page-faq"> Faqs</a></li>
                                                    <li><a href="page-pricing"> Pricing Plans</a></li>
                                                    <li><a href="page-sec-navbar"> Secondary navbar</a></li>
                                                    <li><a href="page-clients"> Our Clients</a></li>
                                                    <li><a href="page-career"> Career</a></li>
                                                    <li><a href="page-office"> Our Office</a></li>
                                                    <li><a href="page-custom-header"> Custom Header</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">

                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li><a href="page-full-width"> Full width</a></li>
                                                    <li><a href="page-left-sidebar"> Left Sidebar</a></li>
                                                    <li><a href="page-right-sidebar"> Right sidebar</a></li>
                                                    <li><a href="page-both-sidebar"> Both Sidebar</a></li>
                                                    <li><a href="page-coming-soon"> Coming soon</a></li>
                                                    <li><a href="page-coming-soon2"> Coming Soon alt</a></li>
                                                    <li><a href="page-blank"> Blank page</a></li>
                                                </ul>

                                            </div>
                                            <div class="col-lg-3">

                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li th:if="${!isLoggedIn}">
                                                        <a href="page-login">Login</a>
                                                    </li>
                                                    <li th:if="${isLoggedIn}">
                                                        <a href="/logout">Log out</a>
                                                    </li>
                                                    <li><a href="page-register"> Register</a></li>
                                                    <li><a href="page-fpassword">Forget password</a></li>
                                                    <li><a href="page-success"> Success page</a></li>
                                                    <li><a href="page-maintenence"> Maintenence mode</a></li>
                                                    <li><a href="page-404-video"> 404 video</a></li>
                                                    <li><a href="page-404-particle"> 404 Particle</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown dropdown-full-width">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="blog-sidebar-left#" aria-haspopup="true" aria-expanded="false">
                                Portfolio  
                            </a>
                            <ul class="dropdown-menu dropdown-mega-fw">
                                <li class="container">
                                    <div class="mega-menu-content">
                                        <p class="text-muted">Powered by cube portfolio</p>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <h4 class="mega-title">Grid overlay</h4>
                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li><a href="folio-grid-2"> 2 Columns</a></li>
                                                    <li><a href="folio-grid-3"> 3 Columns</a></li>
                                                    <li><a href="folio-grid-4"> 4 Columns</a></li>
                                                    <li><a href="folio-grid-5"> 5 Columns</a></li>
                                                    <li><a href="folio-grid-6"> 6 Columns</a></li>
                                                    <li><hr></li>
                                                    <li><a href="folio-ajax-load">Ajax - Load More</a></li>
                                                    
                                                    <li><a href="folio-ajax-modal"> Ajax - Modal</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <h4 class="mega-title">Grid Titles</h4>
                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li><a href="folio-grid-title-2"> 2 Columns</a></li>
                                                    <li><a href="folio-grid-title-3"> 3 Columns</a></li>
                                                    <li><a href="folio-grid-title-4"> 4 Columns</a></li>
                                                    <li><a href="folio-grid-title-5"> 5 Columns</a></li>
                                                    <li><a href="folio-grid-title-6"> 6 Columns</a></li>
                                                    <li><a href="folio-grid-title-nm-2"> No Margin 2 columns</a></li>
                                                    <li><a href="folio-grid-title-nm-3"> No Margin 3 columns</a></li>
                                                    <li><a href="folio-grid-title-nm-4"> No Margin 4 columns</a></li>
                                                    <li><a href="folio-grid-title-nm-5"> No Margin 5 columns</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <h4 class="mega-title">Grid Full width</h4>
                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li><a href="folio-grid-fw-2"> 2 Columns</a></li>
                                                    <li><a href="folio-grid-fw-3"> 3 Columns</a></li>
                                                    <li><a href="folio-grid-fw-4"> 4 Columns</a></li>
                                                    <li><a href="folio-grid-fw-5"> 5 Columns</a></li>
                                                    <li><a href="folio-grid-fw-6"> 6 Columns</a></li>
                                                    <li><a href="folio-grid-fw-nm-2"> No Margin 2 columns</a></li>
                                                    <li><a href="folio-grid-fw-nm-3"> No Margin 3 columns</a></li>
                                                    <li><a href="folio-grid-fw-nm-4"> No Margin 4 columns</a></li>
                                                    <li><a href="folio-grid-fw-nm-5"> No Margin 5 columns</a></li>
                                                </ul>

                                            </div>
                                            <div class="col-lg-3">
                                                <h4 class="mega-title">Grid Masonry</h4>
                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li><a href="folio-masonry-2"> 2 Columns</a></li>
                                                    <li><a href="folio-masonry-3"> 3 Columns</a></li>
                                                    <li><a href="folio-masonry-4"> 4 Columns</a></li>
                                                    <li><a href="folio-mosaic-contained"> mosaic contained</a></li>
                                                    <li><a href="folio-mosaic-full"> Mosaic Full width</a></li>
                                                    <li><hr></li>
                                                    <li><a href="folio-single-gallery">Single - Gallery</a></li>
                                                    <li><a href="folio-single-video"> Single - Video</a></li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="blog-sidebar-left#">Blog</a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="blog-contained" class="dropdown-item">Contained</a></li>
                                <li><a href="blog-sidebar-left" class="dropdown-item">Left Sidebar</a></li>
                                <li><a href="blog-sidebar-right" class="dropdown-item">Right Sidebar</a></li>
                                <li><a href="blog-masonry" class="dropdown-item">Masonry</a></li>
                                <li><a href="blog-masonry-sidebar" class="dropdown-item">Masonry sidebar</a></li>
                                <li><a href="blog-lg-post-grid" class="dropdown-item">Large post grid</a></li>
                                <li><a href="blog-timeline" class="dropdown-item">Timeline</a></li> 
                                <li class=" dropdown-submenu dropdown">
                                    <a tabindex="-1" href="blog-sidebar-left#" class="dropdown-item">Single Post</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="post-image" class="dropdown-item">Image</a></li>
                                        <li><a href="post-gallery" class="dropdown-item">Gallery</a></li>
                                        <li><a href="post-video" class="dropdown-item">Video</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="blog-sidebar-left#">Features</a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class=" dropdown-submenu dropdown">
                                    <a tabindex="-1" href="blog-sidebar-left#" class="dropdown-item">Headers</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="header-light-top-bar" class="dropdown-item">Light top bar</a></li>
                                        <li><a href="header-dark-top-bar" class="dropdown-item">Dark top bar</a></li>
                                        <li><a href="header-transparent-dark" class="dropdown-item">Transparent Dark</a></li>
                                        <li><a href="header-transparent-light" class="dropdown-item">Transparent Light</a></li>
                                        <li><a href="header-center-logo" class="dropdown-item">Center logo</a></li>
                                        <li><a href="header-center-navbar" class="dropdown-item">Center Navbar</a></li>
                                        <li><a href="header-sticky-dark" class="dropdown-item">Sticky dark</a></li>
                                        <li><a href="header-sticky-light" class="dropdown-item">Sticky light</a></li>
                                        <li><a href="header-after-hero" class="dropdown-item">After hero</a></li>
                                    </ul>
                                </li>
                                <li class=" dropdown-submenu dropdown">
                                    <a tabindex="-1" href="blog-sidebar-left#" class="dropdown-item">Footers</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="footer-1" class="dropdown-item">Footer 1</a></li>
                                        <li><a href="footer-2" class="dropdown-item">Footer 2</a></li>
                                        <li><a href="footer-3" class="dropdown-item">Footer 3</a></li>
                                        <li><a href="footer-4" class="dropdown-item">Footer 4</a></li>
                                        <li><a href="footer-5" class="dropdown-item">Footer 5</a></li>
                                        <li><a href="footer-6" class="dropdown-item">Footer 6</a></li>
                                        <li><a href="footer-7" class="dropdown-item">Footer 7</a></li>
                                    </ul>
                                </li>
                                <li class=" dropdown-submenu dropdown">
                                    <a tabindex="-1" href="blog-sidebar-left#" class="dropdown-item">Slider & Heros</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="hero-particle" class="dropdown-item">Hero Particle</a></li>
                                        <li><a href="hero-parallax" class="dropdown-item">Hero Parallax</a></li>
                                        <li><a href="hero-youtube" class="dropdown-item">Hero youtube</a></li>
                                        <li><a href="hero-vimeo" class="dropdown-item">Hero Vimeo</a></li>
                                        <li><a href="hero-agency" class="dropdown-item">Hero Agency</a></li>
                                        <li><a href="slider-particle" class="dropdown-item">Slider Particle</a></li>                       
                                        <li><a href="slider-small" class="dropdown-item">Slider Small</a></li>
                                        <li><a href="slider-text" class="dropdown-item">Slider Text</a></li>
                                        <li><a href="slider-carousel" class="dropdown-item">Slider Carousel</a></li>
                                        <li><a href="slider-kenburns" class="dropdown-item">Slider Ken burns</a></li>
                                        <li><a href="slider-image" class="dropdown-item">Slider Image</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown dropdown-full-width">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="blog-sidebar-left#" role="button" aria-haspopup="true" aria-expanded="false">
                                Elements
                            </a>
                            <ul class="dropdown-menu dropdown-mega-fw">
                                <li class="container">
                                    <div class="mega-menu-content">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <h4 class="mega-title">Shortcode 1</h4>
                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li><a href="shortcode-buttons"><i class="ti-settings"></i> Buttons</a></li>
                                                    <li><a href="shortcode-animations"><i class="ti-wand"></i> Animations</a></li>
                                                    <li><a href="shortcode-social-buttons"><i class="ti-facebook"></i> Social Buttons</a></li>
                                                    <li><a href="shortcode-carousel"><i class="ti-slice"></i> Carousel</a></li>
                                                    <li><a href="shortcode-clients"><i class="ti-apple"></i> Clients</a></li>
                                                    <li><a href="shortcode-columns"><i class="ti-align-center"></i> Columns</a></li>
                                                    <li><a href="shortcode-alerts"><i class="ti-close"></i> Alerts</a></li>
                                                    <li><a href="shortcode-page-titles"><i class="ti-heart"></i> Page Titles</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <h4 class="mega-title">Shortcode 2</h4>
                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li><a href="shortcode-icon-box"><i class="ti-light-bulb"></i> Icon Boxes</a></li>
                                                    <li><a href="shortcode-parallax"><i class="ti-image"></i> Parallax</a></li>
                                                    <li><a href="shortcode-flex-box"><i class="ti-star"></i> flex boxes</a></li>
                                                    <li><a href="shortcode-promo-box"><i class="ti-tag"></i> Promo Boxes</a></li>
                                                    <li><a href="shortcode-lightbox"><i class="ti-plus"></i> Lightbox</a></li>
                                                    <li><a href="shortcode-testimonials"><i class="ti-comments"></i> Testimonials</a></li>
                                                    <li><a href="shortcode-counter"><i class="ti-calendar"></i> Counter & Countdowns</a></li>
                                                    <li><a href="shortcode-icons"><i class="ti-flag"></i> icons</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <h4 class="mega-title">Shortcode 3</h4>
                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li><a href="shortcode-tabs"><i class="fa fa-cog"></i> Tabs</a></li>
                                                    <li><a href="shortcode-accordions"><i class="fa fa-magic"></i> Accordions</a></li>
                                                    <li><a href="shortcode-progressbars"><i class="ti-align-left"></i> Progress bars</a></li>
                                                    <li><a href="shortcode-typography"><i class="ti-text"></i> Typography</a></li>
                                                    <li><a href="shortcode-card"><i class="ti-layout-tab-window"></i> Cards</a></li>
                                                    <li><a href="shortcode-tables"><i class="ti-clipboard"></i> Tables</a></li>
                                                    <li><a href="shortcode-sticky-elements"><i class="fa fa-arrow-circle-up"></i> Sticky Elements</a></li>
                                                    <li><a href="shortcode-pricing-tables"><i class="ti-credit-card"></i> Pricing Tables</a></li>

                                                </ul>

                                            </div>
                                            <div class="col-lg-3">
                                                <h4 class="mega-title">Shortcode 4</h4>
                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li><a href="shortcode-charts"><i class="ti-bar-chart"></i> Charts</a></li>
                                                    <li><a href="shortcode-responsive-videos"><i class="ti-control-play"></i> Responsive Videos</a></li>
                                                    <li><a href="shortcode-gmap"><i class="ti-map"></i> Google Map</a></li>
                                                    
                                                    <li><a href="shortcode-modals"><i class="ti-close"></i> Modals</a></li>
                                                    <li><a href="shortcode-blockquotes"><i class="ti-quote-right"></i> Blockquotes</a></li>
                                                    <li><a href="shortcode-paginations"><i class="ti-arrow-circle-right"></i> Paginations</a></li>
                                                    <li><a href="shortcode-form-elments"><i class="ti-share"></i> Form Elements</a></li><li><a href="shortcode-notify"><i class="ti-alert"></i>Notification-bar</a></li><li><a href="shortcode-image-text-cards"><i class="ti-image"></i>Image+Text cards</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>        
                </div>
                <div class=" navbar-right-elements">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="javascript:void(0)" class="search-open"><i class="ti-search"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class=" menu-btn"><i class="ti-shopping-cart"></i> <span class="badge badge-default">3</span></a></li>
                    </ul>
                </div><!--right nav icons-->
            </div>
        </nav>

        <div class="page-titles-img title-space-lg bg-parallax parallax-overlay mb70" data-jarallax='{"speed": 0.2}' style='background-image: url("images/bg14.jpg")'>
            <div class="container">
                <div class="row">
                    <div class=" col-md-8 ml-auto mr-auto">
                        <h1 class='text-uppercase'>All Questions</h1>

                    </div>
                </div>
            </div>
        </div><!--page title end-->
        <div class="container mb30">
         <div class="row">
             <div class="col-md-3 mb40">
                    <div class="mb40">
                        <form action="#" method="post" th:object="${Lessons}">
                        <a href="blog-contained" class="btn btn-outline-secondary">Add Question</a>
                        <h4 class="sidebar-title">Lessons</h4>
                        <ul class="list-unstyled categories" th:each="l:${lessons}">
                            <li><a th:href="@{/blog-sidebar-right(id=${l.id})}" th:text="${l.name}"></a></li>
                        </ul></form>
                    </div><!--/col-->

                </div>
                <div class="col-md-9">
                    <article class="article-post mb70" th:each="q:${allquestion}">
                        <a class="post-thumb mb30" href="blog-sidebar-left#">
                            <img th:src="@{/image(fileName=${q.getPicUrl()})}" alt="" class="img-fluid" >
                            <div class="post-overlay">
                                <span>Photography question</span>
                            </div>
                        </a><!--thumb-->
                        <div class="post-content">
                            <a href="blog-sidebar-left#"><h2 class="post-title" th:text="${q.title}"></h2></a>
                            <ul class="post-meta list-inline">
                                <li class="list-inline-item">
                                    <i class="fa fa-user-circle-o"></i> <a href="blog-sidebar-left#" th:text="${q.getUser().name}"></a>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-calendar-o"></i> <a href="blog-sidebar-left#" th:text="${q.getDate()}"></a>
                                </li>
                            </ul>
                            <p th:text="${q.description}"></p>
                            <a  th:href="@{/question-readmore(id=${q.getId()})}"class="btn btn-outline-secondary">Read More</a>
                        </div>
                    </article>

                    <nav aria-label="Page navigation example" class="mb70">
                        <ul class="pagination pagination justify-content-end">
                            <li th:class="${allquestion.number == 0} ? disabled">
                                <a class="page-link" aria-hidden="true"
                                   th:href="@{/blog-sidebar-left(page=${allquestion.number})}">Previous</a>
                            </li>

                            <li th:class="${allquestion.number == (page - 1)} ? 'active pointer-disabled'"
                                th:each="page : ${#numbers.sequence(allquestion.totalElements/5, allquestion.totalPages)}">
                                <a class="page-link" th:href="@{/blog-sidebar-left(page=${page})}"
                                   th:text="${page}"></a>
                            </li>

                            <li th:class="${allquestion.number + 1 == allquestion.totalPages} ? disabled">
                                <a class="page-link" aria-hidden="true"
                                   th:href="@{/blog-sidebar-left(page=${allquestion.number + 2})}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <footer class="footer footer-dark pt50 pb30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6  ml-auto mr-auto text-center">
                        <ul class="social-icons list-inline">
                            <li class="list-inline-item">
                                <a href="blog-sidebar-left#">
                                    <i class="fa fa-facebook"></i>Facebook
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="blog-sidebar-left#">
                                    <i class="fa fa-twitter"></i>twitter
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="blog-sidebar-left#">
                                    <i class="fa fa-instagram"></i>instagram
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="blog-sidebar-left#">
                                    <i class="fa fa-behance"></i>Behance
                                </a>
                            </li>
                        </ul>
                        <h4><i class="fa fa-phone"></i> 1800-355-4322</h4>
                        <h4><i class="fa fa-envelope"></i> support@assan.com</h4>
                        <p>&copy; Copyright 2017. Assan 3.0</p>
                    </div>
                </div>
            </div>
        </footer>
        <!--back to top-->
        <a href="blog-sidebar-left#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script src="js/plugins/plugins.js"></script> 
        <script src="js/assan.custom.js"></script> 
    </body>
</html>
